{{#if err}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>hay algún error</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<div class="col-md-4 mx auto">
    <div class="card">
        <div class="card-header">
            Registrar Vehículo
        </div>
        <div class="card-body">
            <form action="/vehicle/register" method="POST">
                <div class="form-group">
                    <input type="text" name="type" class="form-control mb-2" placeholder="Tipo" autofocus>
                    <input type="text" name="plate" class="form-control  mb-2" placeholder="Placa" autofocus>
                    <input type="text" name="station" class="form-control  mb-2" placeholder="Estación" autofocus>
                    <input type="text" name="_state" class="form-control  mb-2" placeholder="Estado" autofocus>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>